*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(220,219,219);
}

.header{
    flex: 1;
    display: flex;
    background-color: white;
    padding: 10px 5%;
    align-items: center;
    gap: 80px;
    justify-content: space-around;
}
.searchbar{
    background-color: #f0f5ff;
    flex: 1;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.searchbar > input[type="search"] {
    border: 0;
    outline: 0;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 200;
    background-color: transparent;
}

/* navbarlinks */

.links{
flex: 1;
display: flex;
gap: 5px;
}
.links > a{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(75,74,74);
} 
.active:hover{
    color: white;
    border-radius: 10px;
    background-color: blue;
}

.categories{
    background-color: white;
    margin: 5px 7px;
    padding: 5px 10px;
    display: flex;
    gap: 20px;
      justify-content: center;
}

.cat-card{
    flex: 1;
    text-align: center;
    height: auto;
}
.cat-card > h4{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
text-wrap: nowrap;
color: rgb(31,31,31);
}
.banner{
    flex: 1;
}

.banner > img{
    width: 100%;
}

.top > h4{
    background-color: white;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;

}


.deals > h4{
    margin: 60px;
    text-align: center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 text-decoration: none;

}

.deals{
    background-color: white;
     margin: 0px;
    padding: 40px 10px;
    display: flex;
    gap: 60px;
      justify-content: center;
      
}


.topdeals{

    margin: 0;
    background: white;
}

.topdeals > h4{
    font-size: 18px;
    margin: 15px;
text-align: center;

}


